<h1><%= @item.name %></h1>

<h2><%= @item.price %></h2>

<h2><%= @item.description %></h2>

<%# add image of item %>

<%# add button for adding item to wishlist %>

<%# add return to item index button %>